@page
@model RegistrarModel
@{
    var image = "/images/images/User.png";
}



<div class="container p-4">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card-header">
                    <output id="imageUser">
                        <img src=@image class="iamgeUser" />
                    </output>
                </div>
                <div class="card-body">
                    <div class="caption text-center">
                        <label class="btn btn-primary" for="files">Carregar Foto</label> 
                        <imput asp-for="imput.AvatarImage" accept="image/*" type="file" id="files">
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

