

.bodyInicio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../image/CapaSiteSitio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.grid-item {
    text-align: center;
   margin-top:150px;
}

