@model IEnumerable<SaoDomingos.Web.Dev.Mvc.Dados.BalanceteDAL>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<nav class="navbar navbar-expand navbar-light bg-light">

    <ul class="navbar-nav">

        <li class="nav-item">
            <div class="nav-link">@(Html.DevExtreme().DateBox().Placeholder("Data Inicial").DisplayFormat("dd/MM/yyyy").ID("DtIni").Value(new DateTime(2019,01,01)))</div>
        </li>
        <li class="nav-item">
            <div class="nav-link"> @(Html.DevExtreme().DateBox().Placeholder("Data Final").DisplayFormat("dd/MM/yyyy").ID("DtFim").Value(DateTime.Now))</div>
        </li>
        <li class="nav-item">
            <div class="nav-link"><input class="btn btn-primary" name="btnIr" id="btnIr" value="Ir !" onclick="reloadData()" type="submit" /></div>
        </li>
    </ul>
</nav>

@(Html.DevExtreme().DataGrid<SaoDomingos.Web.Dev.Mvc.Dados.BalanceteDAL>
    ()
    .ID("gridContainer")
    .RowAlternationEnabled(true)
    .AllowColumnResizing(true)
    .FocusedRowEnabled(true)
    .Columns(columns =>
    {
        columns.AddFor(m => m.Grupo);
        columns.AddFor(m => m.SubGrupo);
        columns.AddFor(m => m.Financeiro);
        columns.AddFor(m => m.Economico);
        columns.AddFor(m => m.Contabil);
        columns.AddFor(m => m.SaldoInicial).Format("R$ #,###.00").Caption("Sd.Inicial");
        columns.AddFor(m => m.Debito).Format("R$ #,###.00");
        columns.AddFor(m => m.Credito).Format("R$ #,###.00");
        columns.AddFor(m => m.SaldoFinal).Format("R$ #,###.00").Caption("Sd.Final");
    })
    .DataSource(d=> d
    .Mvc()
    .Controller("Balancete")
    .LoadAction("Get")
    .Key("Id")
    .LoadParams(new { userData = new JS("function () {return ColherParametros();  }") }))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .AllowColumnReordering(true)
    .AllowColumnResizing(true)
    .ColumnAutoWidth(true)
    .ColumnHidingEnabled(true)
    .GroupPanel(f => f.Visible(true))
    .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
    .Height("auto")
    .ShowBorders(true)
    .Grouping(g => g.AutoExpandAll(false))
    )


<script type="text/javascript">

    function ColherParametros() {
        var ValReqData = {
            DtIni: $("#DtIni").dxDateBox("instance").option('value').toLocaleDateString(),
            DtFim: $("#DtFim").dxDateBox("instance").option('value').toLocaleDateString(),
        };
        return JSON.stringify(ValReqData);
    }

    function reloadData() {

        var dataInicial = $("#DtIni").dxDateBox("instance").option('value')
        var dataFinal = $("#DtFim").dxDateBox("instance").option('value')
        var dataLimite = new Date(dataInicial.getFullYear() + 5, dataInicial.getMonth(), dataInicial.getDay());

        if (dataInicial > dataFinal) {
            alert('A data inicial é maior que a final');
            return;
        };

        if (dataFinal > dataLimite) {
            alert('Intervalo máximo permitido é de 1 ano');
            return;
        };

        $('#gridContainer').dxDataGrid("instance").refresh();
    }

</script>

