@model List<SaoDomingos.Web.Dev.Mvc.Dados.DreDAL>
@using SaoDomingos.Web.Dev.Mvc.Dados
@{
    ViewData["Title"] = "Resultados";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>@ViewData["Title"]</h2>

@(Html.DevExtreme().PivotGrid<DreDAL>
    ()
    .ID("pivotgrid")
    .AllowSortingBySummary(true)
    .AllowExpandAll(true)
    .AllowFiltering(true)
    .ShowBorders(true)
    .ShowColumnGrandTotals(true)
    .ShowRowGrandTotals(true)
    .ShowRowTotals(true)
    .ShowColumnTotals(true)
    .FieldPanel(p=> p
        .ShowColumnFields(true)
        .ShowDataFields(true)
        .ShowFilterFields(true)
        .ShowRowFields(true)
        .AllowFieldDragging(true)
        .Visible(true)
    )
    .HeaderFilter(h => h
        .AllowSearch(true)
        .ShowRelevantValues(true)
        .Width(300)
        .Height(400)
    )

    .FieldChooser(c => c.Enabled(true).Height(400))
    .DataSource(d => d
    .Store(s => s.Mvc().Controller("Resultado").LoadAction("GetAll"))
    .Fields(fields => {
        fields.AddFor(m => m.DRE)
        .Area(PivotGridArea.Row)
        .WordWrapEnabled(true)
        .Expanded(true);
        fields.AddFor(m => m.Financeiro)
        .WordWrapEnabled(true)
        .Area(PivotGridArea.Row)
        .Expanded(true);
        fields.AddFor(m => m.Economico)
        .WordWrapEnabled(true)
        .Area(PivotGridArea.Row)
        .Expanded(true);
        fields.AddFor(m => m.Contabil)
        .Width(300)
        .WordWrapEnabled(true)
        .Area(PivotGridArea.Row)
        .Expanded(true);
        fields.AddFor(m => m.Valor)
        .SummaryType(SummaryType.Sum)
        .Format("R$ #,###.00")
        .Area(PivotGridArea.Data);
    })
    )
    )
